<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
<h3>#Prop类型绑定（单向、双向）</h3>
<div id="dr05">
    <div>
        <div>vue实例：</div>
        <input v-model="name" />
    </div>
    <br />
    <div>
        <div>component组件（默认）：</div>
        <child05 :my-message05="name"></child05>
        <div>component组件（once）：</div>
        <child05 :my-message05.once="name"></child05>
        <div>component组件（sync）：</div>
        <child05 :my-message05.sync="name"></child05>
    </div>
</div>
	</body>
</html>
<script type="text/javascript">
	//********************************************************************
//********************************************************************
//Prop类型绑定
Vue.component("child05", {
    props: ["myMessage05"],
    template: '<input type="text" v-model="myMessage05" />'
});
var dr05 = new Vue({
    el: "#dr05",
    data: {
        name: "DarkRanger",
    }
});
</script>